@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;

}
/* encabezado*/
.encabezado{
    display: grid;
    grid-template-columns:90px   1fr 90px ;
   
    
}
.menu{
    grid-column: 2/3;
}

.logo{
    width: 179px !important;
    height: 89px !important;
}
.alto{
    height: 100vh;

}



ul{
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    list-style: none;
    
}

.encabezado ul li .link{ 
            text-decoration: none;
            color: gray;
            font-size: 20px;
            font-family: 'Lora', serif;
            
        

}
div ul li .link:hover{
                    color: #D02322;
}




/* fin */


/* nosotros */
.texto{ 
    font-family: 'Roboto', sans-serif;
    width: 580px;
    line-height: 24px;
    margin-bottom: 25px;
}
.medio{

    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}



.sobreNosotros{
    background-color: #E6E7E8;
    /* margin: 10px auto; */
    display: grid;
    grid-template-columns: 10rem 1fr 10rem ;
    justify-content: center;

}


.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    
}

.parrafo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

/* fin */

/* estilos a los anclajes */
.titulo{
    font-size: 36px;
    color: #D02322;
    margin-bottom: 10px;
    text-align: center;

}
/* fin  */

/* galeria */
.galeria{
    display: grid;
    grid-template-areas: 
    "figasa     wok pure  pure"
    "ravioles donas pure  pure"
    "vacio   donas  varios  varios"
    " vacio  pasta  varios  varios";
    grid-template-columns:1fr  2fr   1fr   1fr ;
    gap: 1em;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
    
} 
.ravioles{
    grid-area: ravioles;
}
.pure{
    grid-area: pure;
}
.vacio{
    grid-area: vacio;
}
.pasta{
    grid-area: pasta;
}
.wok{
    grid-area: wok;
}
.figasa{
    grid-area: figasa;
}
.donas{
    grid-area: donas;
}
.varios{
    grid-area:varios;;
}
    
.galeria_foto{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* fin */

/* formulario y contacto */

.contenedor_padre{
                display: grid;
                gap: 10px;
                grid-template-areas: 
                "section"
                "article"
                "footer";
}
.section{
    grid-area: section;
    background-image: linear-gradient(to left bottom, #ccd1d3, #78b8dd, #0098ed, #0072f5, #013dea);
}
.article{
    grid-area: article;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.footer{
    grid-area: footer;
    background-image: linear-gradient(to right top, #0c2029, #003159, #003f8f, #0046c3, #013dea);
}

.infoContacto{
    font-family: "ZonaPro-bold", "helvetica";
}

.botonEnviar{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
}

footer{
    text-align: center; 
}
.img{
    width: 88px;
}

/* fin */

/* MEDIA */
@media screen and (min-width: 375px) and (max-width: 480px){
    /* encabezado */

.encabezado{
    
    justify-content: center;

}
    ul{
   flex-direction: column;
    gap: 1rem;
    
 
    
}
/* nosotros  */
.medio{
    grid-column: 1/4;
    

}
.texto{
    width: 90%;
}
.icon{
   
    width: 100%;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    
}

iframe{
    width: 90%;
}
/* galeria */
.galeria{
  display: flex;
  flex-direction: column;
  gap: 5px;
    
}
}

@media screen and (min-width: 768px )and (max-width: 1024px) {
    /* menu  */

    .menu{
        grid-column: 1/4;
    }

    ul{
    gap: 2rem; 
    
 
    
}
/* nosotros */
.medio{
    grid-column: 1/4;
    

}
.icon{
   
    width: 100%;
    gap: 4rem;
    
}
}

/* transiciones y transformaciones */

.box_2 {
   
    transition: width 2s, height 2s, transform 2s;
}
.box_2:hover {
   
    transform: rotate(360deg);
}

.animate__wobble {
    --animate-duration: 2s;

}
.animate__backInDown{
    --animate-duration: 4s;

}
.pure:hover{
    transition: width 2s, height 2s, transform 3s;
    width: 500px;
    height: 490px;

}
.wok:hover{
    transition: width 2s, height 2s, transform 3s;
    width: 270px;
    height: 210px;
   

}

.donas:hover{
    transition: width 3s, height 3s, transform 4s;
    width: 390px;
    height: 290px;
  

}
.pasta:hover{
    transition: width 2s, height 2s, transform 3s;
    width: 590px;
    height: 390px;
    transform: scale(1);
    

}
.vacio:hover{
    transition: width 2s, height 2s, transform 3s;
    width: 510px;
    
    transform: scale(1);
    

}


.form-label {
    color: #D02322;
    text-align: center;
    font-weight: 900;
}